
Nombre de imagen               PID Nombre de sesi¢n N£m. de ses Uso de memor
========================= ======== ================ =========== ============
System Idle Process              0 Services                   0        24 KB
System                           4 Services                   0     1.960 KB
smss.exe                       324 Services                   0       432 KB
csrss.exe                      464 Services                   0     2.596 KB
csrss.exe                      532 Console                    1     8.800 KB
wininit.exe                    540 Services                   0     1.772 KB
winlogon.exe                   576 Console                    1     2.472 KB
services.exe                   636 Services                   0     6.016 KB
lsass.exe                      644 Services                   0     7.296 KB
lsm.exe                        652 Services                   0     2.248 KB
svchost.exe                    752 Services                   0     5.844 KB
nvvsvc.exe                     816 Services                   0     2.488 KB
nvSCPAPISvr.exe                840 Services                   0     2.488 KB
svchost.exe                    884 Services                   0     5.344 KB
MsMpEng.exe                    972 Services                   0    48.168 KB
svchost.exe                    472 Services                   0    15.376 KB
svchost.exe                    536 Services                   0   142.052 KB
svchost.exe                    380 Services                   0    11.580 KB
svchost.exe                    868 Services                   0   442.624 KB
svchost.exe                   1120 Services                   0     2.708 KB
svchost.exe                   1296 Services                   0    11.508 KB
svchost.exe                   1440 Services                   0    19.940 KB
nvxdsync.exe                  1484 Console                    1     4.252 KB
nvvsvc.exe                    1492 Console                    1     3.512 KB
spoolsv.exe                   1668 Services                   0     6.576 KB
PhotoshopElementsFileAgen     1852 Services                   0       988 KB
armsvc.exe                    2008 Services                   0     1.616 KB
SkypeC2CAutoUpdateSvc.exe     1140 Services                   0     1.712 KB
SkypeC2CPNRSvc.exe            1316 Services                   0     1.540 KB
ePowerSvc.exe                 1352 Services                   0     2.476 KB
svchost.exe                   1056 Services                   0     6.976 KB
fbguard.exe                   1896 Services                   0     1.704 KB
GregHSRW.exe                  2024 Services                   0     1.952 KB
LMIGuardianSvc.exe            1052 Services                   0     2.656 KB
sqlservr.exe                  2052 Services                   0     1.396 KB
IScheduleSvc.exe              2076 Services                   0     8.936 KB
NvNetworkService.exe          2112 Services                   0     1.888 KB
nvstreamsvc.exe               2200 Services                   0     2.468 KB
PnkBstrA.exe                  2276 Services                   0     1.912 KB
sqlwriter.exe                 2344 Services                   0     2.212 KB
TeamViewer_Service.exe        2472 Services                   0     4.104 KB
UpdaterService.exe            2588 Services                   0     1.948 KB
vmnat.exe                     2624 Services                   0     2.020 KB
WLIDSVC.EXE                   2676 Services                   0     5.764 KB
hamachi-2.exe                 2716 Services                   0     3.864 KB
WLIDSVCM.EXE                  2760 Services                   0     1.240 KB
IAANTmon.exe                  2988 Services                   0     3.220 KB
vmnetdhcp.exe                 3016 Services                   0     1.824 KB
vmware-usbarbitrator64.ex      748 Services                   0     2.860 KB
NisSrv.exe                    3392 Services                   0     6.972 KB
fbserver.exe                  3660 Services                   0     2.216 KB
svchost.exe                   3720 Services                   0     2.636 KB
GoogleUpdate.exe              3888 Services                   0       380 KB
wmpnetwk.exe                  2784 Services                   0     8.752 KB
SearchIndexer.exe             1412 Services                   0    35.736 KB
WmiPrvSE.exe                   892 Services                   0     2.812 KB
taskhost.exe                  3784 Console                    1     6.516 KB
nvstreamsvc.exe               3804 Console                    1     2.636 KB
conhost.exe                   3868 Console                    1     2.104 KB
explorer.exe                  2368 Console                    1    44.976 KB
dwm.exe                       1916 Console                    1     4.316 KB
NvBackend.exe                  732 Console                    1     6.592 KB
cAudioFilterAgent64.exe       2600 Console                    1     2.568 KB
Apoint.exe                    3780 Console                    1     3.788 KB
ePowerTray.exe                3588 Console                    1     3.292 KB
msseces.exe                   3324 Console                    1     4.704 KB
IAAnotif.exe                  3312 Console                    1     2.948 KB
ApMsgFwd.exe                  4056 Console                    1     2.132 KB
unsecapp.exe                  2572 Console                    1     3.420 KB
Hidfind.exe                   3188 Console                    1     2.056 KB
ApntEx.exe                    1108 Console                    1     2.164 KB
conhost.exe                   4028 Console                    1     2.164 KB
ePowerEvent.exe               3204 Console                    1     1.868 KB
netsession_win.exe            4236 Console                    1     2.832 KB
nvtray.exe                    4276 Console                    1     2.832 KB
netsession_win.exe            4368 Console                    1     7.784 KB
svchost.exe                   4616 Services                   0     8.692 KB
flux.exe                      4796 Console                    1     6.624 KB
Skype.exe                     4812 Console                    1    97.668 KB
BackupManagerTray.exe         4956 Console                    1     2.936 KB
LManager.exe                  4972 Console                    1     4.160 KB
hamachi-2-ui.exe              5004 Console                    1     3.920 KB
dllhost.exe                   3040 Services                   0     2.644 KB
Steam.exe                     5248 Console                    1    31.028 KB
steamwebhelper.exe            5448 Console                    1     6.736 KB
steamwebhelper.exe            5048 Console                    1     4.480 KB
xchat.exe                     3108 Console                    1     9.132 KB
wmplayer.exe                  3652 Console                    1    20.984 KB
audiodg.exe                   1204 Services                   0    19.964 KB
codeblocks.exe                5900 Console                    1    27.920 KB
firefox.exe                   4860 Console                    1   276.780 KB
plugin-container.exe           876 Console                    1   133.492 KB
adb.exe                       6044 Console                    1     2.804 KB
chrome.exe                    5428 Console                    1    53.384 KB
chrome.exe                    5836 Console                    1    38.900 KB
chrome.exe                    1032 Console                    1     6.272 KB
chrome.exe                    4412 Console                    1    87.612 KB
TrustedInstaller.exe          1756 Services                   0    13.244 KB
SearchProtocolHost.exe        2828 Services                   0     8.328 KB
SearchFilterHost.exe          2424 Services                   0     6.156 KB
explorer.exe                  2596 Console                    1    39.596 KB
taskeng.exe                   1100 Services                   0     5.152 KB
dllhost.exe                   4588 Console                    1     6.672 KB
cmd.exe                       5948 Console                    1     3.180 KB
conhost.exe                   5648 Console                    1     5.992 KB
tasklist.exe                  5972 Console                    1     5.800 KB
WmiPrvSE.exe                  5208 Services                   0     6.384 KB
